{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container confirmation">
        <div class="confirmation_text">
            Transaction Successful! You have been credited with ${{amount}}🎉!
        </div>
        <a href="/dashboard" class="primary-button back-to-home">Back to Dashboard </a>
    </div>
</body>
</html>