{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Welcome{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <div class="container home">
            <!-- {% block nav %} -->
            <div class="home">
                <nav>
                    <div class="logo">
                        <a href="/"><span>NECA</span>PAY</a>
                    </div>
                    <!-- <div class="menus">
                    <ul>
                        <li><a href="">Home</a></li>
                    </ul>
                </div> -->
                    <a href="/dashboard" class="secondary-button"
                        >Go to Dashboard</a
                    >
                </nav>
                <!-- {% endblock%} -->

                <header class="section header">
                    <div class="left">
                        <div class="header-main-text">
                            Pay for corporate commodities with ease
                        </div>
                        <div class="header-subtitle">
                            Generate payment tokens per transaction to reduce
                            the issue of bank problems and spending unaccounted
                            for.
                        </div>
                        <div class="hero-buttons">
                            <a class="primary-button" href="/accounts/signup"
                                >Get Started</a
                            >
                        </div>
                    </div>
                    <div class="right"><img src="{% static 'img/pay.svg' %}" alt="" /></div>
                </header>
                <section class="about container">
                    <div class="about-infos">
                        <div class="about-info"></div>
                        <div class="about-info"></div>
                        <div class="about-info"></div>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>
