{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %} Welcome</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <div class="sign login">
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            <div class="form">
                <div class="form-header">
                    <a class="link" href="/"> < Back to home</a>
                    <div class="form-header-text">Log in to your account</div>
                    <div class="form-header-subtext">Enter your credentials to access your account</div>
                </div>
                <form action="/accounts/login/" method="post">
                    {% csrf_token %}
                    <div class="input">
                        <label for="email">Email</label>
                        <input
                            type="email"
                            placeholder="name@company.com"
                            name="email"
                        />
                    </div>

                    <div class="input">
                        <label for="password">Password</label>
                        <input
                            type="password"
                            placeholder="Password"
                            name="password"
                        />
                    </div>

                    <div class="input button">
                        <button type="submit" class="primary-button">Log in</button>
                    </div>
                </form>
                <div class="not-a-member">
                    <p>Not a member? <a class="link" href="/accounts/signup">Sign up now</a></p>
                </div>
            </div>
        </div>
    </body>
</html>
